<footer class="site-footer" data-aos="fade-up">
  <div class="footer-inner">
    <div class="footer-logo">
      <img src="{{ url_for('static', filename='img/logo.png') }}" alt="整骨院ロゴ">
    </div>
    <div class="footer-map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!2m12!1m3!1d3242.123456789!2d139.700000000!3d35.689500000!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188!2z5p2x5Lqs6YO95paw5a6_5Z-O!5e0!3m2!1sja!2sjp!4v0000000000000"
        width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </div>
  <p>&copy; 2025 〇〇整骨院. All rights reserved.</p>
</footer>
